.multi-select {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid #cccccc;
  border-block-end: none;

  &:empty {
    border-block-end: 1px solid #cccccc;
  }

  &__head {
    display: flex;
    flex-flow: row;
    border-block-end: 1px solid #cccccc;
    padding: 1rem;
    font-size: 1.125rem;

    &:empty {
      display: none;
    }

    > * {
      margin-inline-end: 1rem;
    }
  }

  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: 2.5rem minmax(6rem, 1fr) minmax(6rem, 1fr) minmax(10rem, 5fr) minmax(6rem, 1fr);
    font-size: 0.875rem;

    &:empty {
      display: none;
    }

    > span {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      border-block-end: 1px solid #cccccc;
      height: 3rem;
      line-height: 1;
      word-break: break-all;

      &[data-availability] {
        position: relative;
        pointer-events: none;

        &::after {
          content: "";
          position: absolute;
          inset-inline-end: calc(100% + .5rem);
          background: transparent;
          height: 1rem;
          width: 1rem;
          border-radius: 100%;
        }
      }

      &[data-availability="available"] {
        &::after {
          background: #86ce3c;
        }
      }

      &.pathname {
        padding-inline-end: 2rem;
      }
    }
  }

  &__header {
    font-size: 1rem;
  }
}
